[2020-06-03 19:09] welby12 opened #2 ""Unable to join the network" error on iOS 13.5"
I really wanted this to work, but for my friends on iOS (including me) it doesn't. You can hit "join network", but it will always throw the error "Unable to join the network '[name]'"

Have double checked for typos, and tried various times on various devices

[2020-06-03 19:23] bndw opened #3 "Escape special characters"
https://en.wikipedia.org/wiki/QR_code#Joining_a_Wi%E2%80%91Fi_network

[2020-06-03 19:26] bndw commented on #2
Hi, sorry to hear you're having trouble.

A couple quick thoughts-- does your network name have any special characters? If so, you may be impacted by https://github.com/bndw/wifi-card/issues/3. If your network name does not have special characters I'd recommend generating a QR code for your WiFi with a different QR code generator, as a test. This should help identify where the problem lies.

Here'

[2020-06-04 15:52] welby12 commented on #2
Thanks for the prompt reply, was able to get it working! The issue was that the password has backslashes in it, but by putting backslashes before, well... the backslashes, it worked.

Would be nice if this was resolved somehow in the future, since it makes the password incorrect if I print out the card and someone is reading it.

Regardless, thanks for your work on this generator!

[2020-06-04 15:52] #2 closed

[2020-06-04 16:22] welby12 opened #4 "Please use a seriffed font for password field"
My wifi password has a capital "i" in it. Would be great if a seriffed font was used to display the password, since it is virtually indistinguishable from a lowercase "L" with a sans-serif font.

I understand the goal of this project is to NOT type the wifi password, but I'm going to assume that there will be cases when people type it in manually.

[2020-06-05 01:13] #4 closed

[2020-06-05 01:17] bndw commented on #4
It's up, thanks @welby12 @badcat

![image](https://user-images.githubusercontent.com/4248167/83825948-8af3f780-a68f-11ea-855a-e2a05a02c988.png)

[2020-06-07 17:02] #3 closed

[2020-06-07 17:06] bndw commented on #2
@welby12 You should be able to use a password with backslashes in it now, this was fixed in https://github.com/bndw/wifi-card/pull/6

[2020-06-08 16:27] rvisalm opened #8 "Dockerfile can't copy "build""
Trying to build this repo from Docker, but I get an error of the type

"COPY failed: stat /var/lib/docker/tmp/docker-builderXXXXXXX/... no such file or directory"

This seems to stem from the copy instruction "COPY build /usr/share/nginx/html" as there is no file or directory called "build" in the repository.

Maybe I'm doing something wrong? What would you expect to happen as per this instruction

[2020-06-08 22:46] bndw commented on #8
Hi @rvisalm, sorry for the lack of documentation. The `build` directory gets created by running the yarn build. Pull the latest and run:
[code]

This will build and tag a `bndw/wifi-card:latest` image

[2020-06-09 07:43] rvisalm commented on #8
Brilliant, thank you.

[2020-06-09 07:43] #8 closed

[2020-07-02 19:08] thiagolopes opened #9 "Suggestion: Export to SVG"
Hi, great project.

What do you think about an option to export the QR Code to an SVG file? to be able to use it in any resolution.

[2020-07-03 03:28] bndw commented on #9
Hi @thiagolopes, thanks for the kind words.

Are you interested in an SVG of just the QR Code, or the "wifi card" including the QR Code?

[2020-07-03 18:28] thiagolopes commented on #9
@bndw I think this could be an export option, what do you think?

[2020-07-04 16:40] bndw commented on #9
The specific goal of this project is to quickly produce and print a "wifi card", so I think outputting a digital file is somewhat antithetical.

However this project is OSS so you're welcome to implement an export to SVG in your own fork!

[2020-07-04 16:40] #9 closed

[2020-08-23 21:39] nxion opened #11 "Unable ro run in Docker"
Hello,

I am having a difficult time understanding from the README how to run this from Docker. I'm relatively new to Docker and this seemed like a fun project to explore with.

Based on the read me I should be able to run
[code]

And It would run but I'm sure that there is more to it than that.

[2020-08-26 04:06] bndw commented on #11
👋 Hi @nxion,

[Make](https://en.wikipedia.org/wiki/Make_(software)) is just a convenient way to run the more complex docker command--
[code]

Run that and open http://localhost:8080. Feel free to reply here if you get stuck.

[2020-08-26 04:06] #11 closed

[2020-08-27 01:28] nxion commented on #11
Thanks for replying. I feel kinda stupid now for asking :|. The above worked perfectly. Thank you for such an awesome project.

[2020-08-30 22:40] baryoncascade opened #12 "Hidden SSID toggle?"
Is there a way to toggle on 'hidden' for the SSID type?

[2020-09-04 18:15] bndw commented on #12
Hi @baryoncascade,

There is no support for toggling 'hidden' SSID types in this tool, but it looks like the [protocol supports it](https://github.com/zxing/zxing/wiki/Barcode-Contents#wi-fi-network-config-android-ios-11).

[2020-09-05 06:51] baryoncascade commented on #12
Thanks for the reply. I found another similar project that does allow for indicating the referenced SSID is hidden, and that QR code worked as expected. Your tool is more directly useful for printing, though!

[2020-09-09 22:42] #12 closed

[2021-07-02 20:15] olekstomek opened #27 "Invalid max length for password field"
Max length of password is 63 ASCII printable characters (in case WPA2-AES PSK). 63 characters instead of 64.

[2021-07-02 20:17] olekstomek opened #28 "Long SSIDs and passwords cropped on generated document"
Max length input network name is 32 characters and I inserted value with 32 characters: `abcdefghijklmnopqrstuwxyzabcdefg`
Max length input for password is 64 characters and I inserted value with 64 characters: `abcdefghijklmnopqrstuwxyzabcdefghijklmnopqrstuwxyzabcdefghijklmn`

Generated PDF ([📡 WiFi Card.pdf](https://github.com/bndw/wifi-card/files/6756783/WiFi.Card.pdf)) shows only `abcdefghijkl

[2021-07-02 20:27] olekstomek opened #29 "The minimum length of the WiFi password to prevent confusion"
WPA-PSK minimum WPA length is 8 characters. For a 40 bit WEP  (rrobably very rare case) network the password is 5 characters.
To prevent someone forgot to enter the minimum number of characters by mistake, it may be worth adding a warning.

[2021-07-02 20:30] olekstomek opened #30 "Generating PDF vertcally"
Generating PDF vertically is useful. Currently, there is an option to only generate PDF horizontally.

[2021-07-02 20:39] olekstomek opened #31 "Ability to change the font size"
Ability to change the font size for network name and password could be nice.

[2021-07-02 20:40] olekstomek opened #32 "Hide the password on the generated document"
The ability to hide a password written with text on the generated document.

[2021-07-04 23:20] bndw commented on #28
Hi @olekstomek,

Thanks for the report. Could you provide some repro steps? I have no problem with the full network name:

![image](https://user-images.githubusercontent.com/4248167/124402210-ad69a180-dce3-11eb-95b3-a0b6a9e5fc6f.png)

[2021-07-04 23:20] #27 closed

[2021-07-04 23:57] bndw commented on #29
Hi @olekstomek,

Great idea, minimum length validation on the password input would be nice! WEP is not a concern as this project is [hard coded](https://github.com/bndw/wifi-card/blob/master/src/components/Card.js#L30) to for WPA.

[2021-07-04 23:59] #29 closed

[2021-07-05 00:03] bndw commented on #30
Hi @olekstomek,

Cool idea. I'd be happy to review a pull request if you'd like to contribute the ability to change the print orientation.

[2021-07-05 00:04] bndw commented on #31
Hi @olekstomek,

Cool idea. I'd be happy to review a pull request if you'd like to contribute the ability to change the font size.

[2021-07-05 00:06] bndw commented on #32
Hi @olekstomek,

Cool idea. I'd be happy to review a pull request if you'd like to contribute the ability to hide the password text. I think you could do it natively in CSS with the `#password` input selector.

[2021-07-05 00:10] bndw commented on #30
Hi @olekstomek,

Both Firefox and Chrome support changing print orentation in the print dialog:
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/4248167/124403347-b8740000-dcea-11eb-8b23-4232367b7bec.png">

[2021-07-05 15:21] olekstomek commented on #30
Hi @bndw, that's not what i meant and i wrote my thought inaccurately. Let's say I have a vertical frame and I would like to insert a printed document. I marked it in green in the attachment how I would like to cut it.
![generated_pdf_wifi](https://user-images.githubusercontent.com/26818304/124492470-cb530700-ddb4-11eb-96dc-5a5c6b3623b1.JPG)
I know that the qr code can be scanned without a problem

[2021-07-05 15:25] olekstomek commented on #28
Hi @bndw, I meant what is visible in the generated PDF document. In qr code the data is correct, but the text next to qr code is not correct, because the name of the network visible in the PDF is:
`abcdefghijklmnopqrst`
![image](https://user-images.githubusercontent.com/26818304/124493452-f0944500-ddb5-11eb-90a4-bff8e7f149fd.png)

[2021-07-05 15:32] olekstomek commented on #31
It can be a big problem to put all the letters on the document if the text is enlargable (reference to https://github.com/bndw/wifi-card/issues/28). Perhaps this is the optimal solution at present - if someone wants to access the network, he must be close enough to read the letters or scan the qr code.

[2021-07-05 15:37] olekstomek commented on #27
Thanks

[2021-07-05 15:37] olekstomek commented on #29
Thanks

[2021-07-05 16:48] bndw commented on #28
Thanks for the clarification on the problem. I don't think the existing design will easily accommodate a 64 character input without either dynamically changing font size or converting inputs to textareas and wrapping.

Out of curiosity -- is this visible character limit impacting your usage or are you simply testing and reporting the bug?

[2021-07-05 16:53] bndw commented on #30
@olekstomek thanks for the clarification, I think a landscape/portrait orientation toggle could be a nice enhancement. I'd be happy to review a pull request if it's something you'd like to contribute.

[2021-07-05 16:58] bndw commented on #31
Considering the impact on #28, font size is probably best left outside of user control. An upper/lower limit could probably be worked out but the introduced complexity is likely greater than the value provided.

[2021-07-05 16:58] #31 closed

[2021-07-05 19:14] olekstomek commented on #28
I am testing it and I found such an extreme case. I assume that hardly anyone has a network name or password greater than 20 characters.

Another solution is either the information when generating the document and on the generated document that it is only part of the network name/password if it exceeds 20 characters and that the qr code should be scanned. And/or the last 3 characters, if there are

[2021-07-06 18:51] #28 closed

[2021-07-06 23:12] olekstomek commented on #32
I will only mention that currently natively `#password` cannot be used for textarea (https://github.com/bndw/wifi-card/pull/34)
It's possible to hide the label with password and textarea by CSS, e.g.:
`.hidden {
  opacity: 0;
}`
But I don't think it will be good. Better to write CSS for the textarea which will behave the same as the native `#password` for input.

[2021-07-11 17:49] #30 closed

[2021-07-11 18:49] the4anoni opened #36 "Add another text input for WiFi name."
Hi
Like in topic.
Some networks have separated 2.4GHz and 5GHz bands.

[2021-07-11 19:29] bndw commented on #36
Hi,

Thanks for the suggestion but I think the best way to support multiple bands is to use this tool twice, printing two cards. Otherwise there would have to be 2 QRCodes and two inputs for each.

[2021-07-11 19:29] #36 closed

[2021-07-12 08:39] gokaygurcan opened #39 "Feature request: Option to select encryption mode"
Hi,

There're some cases people create public networks and manage them with another way/device (like hotspots in hotels). Keeping password field mandatory basically prevents creating passwordless network cards.

It'd be nicer if there's an option to choose encryption, so based on selection password can be optional/ignored etc.

Here's the line that creates the qr value: https://github.com/bndw/wif

[2021-07-12 11:44] JJsty1e opened #40 "[Feature Request] support cloud print"
All I need to do is paying with pay-pal or something and then the card will be sent to my mailbox.

🤪

[2021-07-12 15:09] #40 closed

[2021-07-12 15:17] bndw commented on #39
Hi @gokaygurcan,

I understand you'd like the option to select encryption type, where selecting "none" would disable the password input and in turn support public networks-- is this correct? For the SSID `myNetwork` with no password, you'd expect `WIFI:S:myNetwork;T:;P:;H:;` ?

[2021-07-12 16:48] gokaygurcan commented on #39
Yup, totally got it right. Sorry if it wasn't clear in the first place :)

[2021-07-12 18:37] bndw commented on #32
An alternative approach, shown in https://github.com/bndw/wifi-card/pull/41/files, would be to obfuscate the plaintext password with `text-security: disc` instead of hiding the element.

[2021-07-13 15:09] bndw commented on #32
Unfortunately, it appears [webkit text-security](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-security) does not work in Firefox (`-moz-text-security` is not recognized) so this won't be a viable option.

Looks like the best (only) solution is to hide the password textarea from the printout.

[2021-07-13 15:21] bndw commented on #32
Fixed in #42

[2021-07-13 15:21] #32 closed

[2021-07-14 23:46] bndw opened #44 "Change behavior of "hide password" checkbox"
Change the behavior of the Hide password checkbox as follows:
1. Hide password checkbox hides the password textarea with `display: none`. This would make is immediately invisible to the user (expected) as well as the printout.
2. Selecting "None" encryption automatically checks hide password. This will trigger (1) and hide the password textarea
3. Changing the encryption mode from "None" to someth

[2021-07-15 13:13] Mouradouchane commented on #44
Hi man , is that issue good as first one .
i think i can help if you want

[2021-07-15 14:36] noahhefner commented on #44
So I think there's two possible approaches here: 1) Automatically check the hide password option on selection of "None" encryption type as descried in this issue or 2) hide the password entry box altogether on selection of the "None" encryption type. Option 2) seems to be a more natural implementation IMO. Thoughts?

[2021-07-15 14:41] bndw commented on #44
@noahhefner You beat me to it! One caveat-- There is the use-case where you have a password but you might not want it on the printout. I think we need the hide password checkbox for that.

What if we changed the behavior as follows:
- Hide password checkbox hides the password textarea with `display: none`. This would make is immediately invisible to the user (expected) as well as the printout.
- S

[2021-07-15 14:51] noahhefner commented on #44
Yeah that sounds good to me! So to clarify, selecting "None" encryption would automatically check hide password **and** hide the password textarea.

Also, when selecting "None" encryption, the `network.password` field remains unchanged. In my testing, the password will actually change the QR code that is generated for None encryption. So assuming that we want to have no password for None encryptio

[2021-07-15 14:55] bndw commented on #44
Correct

Nice catch, that sounds like a bug. Clearing the password as you described should resolve it. (I'm not sure if it matters to the end device, but it's something worth cleaning up either way)

[2021-07-15 14:57] bndw opened #46 "Clear network.password when "None" encryption mode is selected"
_Originally posted by @noahhefner in https://github.com/bndw/wifi-card/issues/44#issuecomment-880759353_

[2021-07-15 15:02] bndw commented on #44
@Mouradouchane If you're familiar with React and JavaScript, this could be a reasonable first issue. Alternatively,  #46 would be a great first issue.

[2021-07-15 15:11] Mouradouchane commented on #44
@bndw yeah i'am familiar with javascript , but i don't know anything about react
last things , is there any installation instruction or guideline

[2021-07-15 15:44] bndw commented on #44
@Mouradouchane Just added some in https://github.com/bndw/wifi-card/pull/47

[2021-07-15 15:49] bndw opened #48 "Update the README gif"

[2021-07-15 15:50] #39 closed

[2021-07-15 15:58] ZJUGuoShuai opened #49 "[Feature Request] Support multiple languages"
Maybe we can support more languages when printing the card. For example, translate the interface texts like these:

[code]

[2021-07-15 16:01] ZJUGuoShuai commented on #49
Add a switch button or something else. If I knew how to write React I would add this feature on my own and made a PR.

[2021-07-15 16:06] bndw commented on #49
I don't have any experience was localization in React, but a quick search turned up [this article](https://medium.com/@ricklee_10931/react-multi-lingual-with-react-i18next-57879f986168) which uses [i18next](https://www.i18next.com/).

[2021-07-15 16:23] Mouradouchane commented on #44
i'am currently working on "show/hide" password textarea , pure javascript

[2021-07-15 16:42] noahhefner opened #51 "Check for non-empty Network Name on Print"
There is currently no check for a valid network name when the user prints the card. A valid Network Name would simply be a non-empty string in this case. Not that anyone would print a card without inputting a network name 😆 , but this check should be added for completeness.

EDIT: An alert should also be added in the event that a Network Name is not supplied by the user.

[2021-07-15 18:21] #51 closed

[2021-07-15 18:42] thealamu commented on #46
I would like to make a PR to close this

[2021-07-15 19:45] Mouradouchane commented on #44
Hi @bndw , I just want to tell you, I did my best for hours, trying to contribute to your great project, but I couldn't do anything due to my lack of knowledge of "React"
I'm sorry if I'm anoying to you, good luck

[2021-07-15 20:23] abhinavxd commented on #48
Can I do this?

[2021-07-16 01:44] BiYuqi opened #57 "When scanned with different software, passwords can be compromised"
When I scan a QR code using a mobile app, most of the results I get are a string:
`WIFI:T:WEP;S:loadingf;P:dfdfdfdfffdfdf;;`

Only some phones's cameras that can directly scan out wifi and can connect.

Most app systems come with a native browser that can scan the QR code and connect

[2021-07-16 01:54] bndw commented on #57
There is no compromise here. QR Codes are encoding, not encryption.

[2021-07-16 01:54] #57 closed

[2021-07-16 04:40] #48 closed

[2021-07-16 09:28] skyemin opened #60 "what's the point"

[2021-07-16 10:33] olekstomek commented on #60
Make life easier. You can connect to a WiFi network faster, you save time, avoid mistakes, you know there is a network available without checking or asking someone about it.

[2021-07-16 11:20] nbouliol opened #63 "Select how many cards are printed"
It can be nice to have an input to select how many cards should be printed.

So you dont have to print mutlipe time to get more than 1 card

[2021-07-16 11:41] olekstomek commented on #63
It seems you can achieve this in the print dialog where you choose the number of copies.
![image](https://user-images.githubusercontent.com/26818304/125942153-7de0aad2-0fe8-41aa-921f-f8576b0277dc.png)

[2021-07-16 11:52] nbouliol commented on #63
Yes indeed but it will use as many sheets of paper as cards

[2021-07-16 11:59] olekstomek commented on #63
Ok, so you mean printing e.g. 2 cards with WiFi data on one sheet of paper?

[2021-07-16 13:02] nbouliol commented on #63
Yes exactly

[2021-07-16 13:25] olekstomek commented on #63
Good idea for saving paper and cost. 👍

[2021-07-16 14:40] bndw commented on #63
This would depend on the size of the card and the size of paper it's being printed on. I think in order to expose printing multiple cards per sheet we'd also need more explicit management of card size. I'm not sure the best way to balance simplicity with the desire to control for every aspect of the card, but I'll give it some thought.

[2021-07-16 14:44] #60 closed

[2021-07-16 14:59] #44 closed

[2021-07-16 15:07] bndw commented on #49
@ZJUGuoShuai This has been released. You'll now find a language selector at the top of the page.

![image](https://user-images.githubusercontent.com/4248167/125968931-0a4ae551-ff22-45e1-b1b8-6fbd2aa9f941.png)

[2021-07-16 15:07] #49 closed

[2021-07-16 20:32] #46 closed

[2021-07-17 07:50] hatsu38 opened #69 "Alerts for passwords longer than 5 characters are not translated."
I18n.js uses `'wifi.alert.password.length.5':`, but Card.js uses `t('wifi.alert.password.5')`.

↓Example of choosing Chinese. The text of the alert is in English.

<img width="944" alt="スクリーンショット 2021-07-17 16 47 46" src="https://user-images.githubusercontent.com/16137809/126030121-345aecc1-9f26-4b8f-981a-0a7f08b85d7a.png">

[2021-07-17 07:58] Baoyuantop commented on #69
This is my mistake 😂

[2021-07-17 15:04] #69 closed

[2021-07-17 20:08] Adelin1310 commented on #63
Hey, maybe if you could get the witdth and height of the print-area at the print button press event and divide the height of an A4 page for example, you could get the actual approximative number of possible qr codes in one A4 page

[2021-07-17 20:32] Spetsnaz-Dev commented on #63
@Adelin1310 Yes, it would be a good idea to divide the size of each QR codes equally, like for 2 QR codes, we can give each codes 50% of paper area.

[2021-07-17 21:05] Adelin1310 commented on #63
@Spetsnaz-Dev Exactly, so if there would be a text box in which the user will enter how many of these qr codes he needs, you could easily find out how many pages would it take so that all of them will be printed.
**A4 is 21cm x 29.7**, so let's say **x = 29.7/height_of_qr**, x should give you how many would enter on one page and let's say **y is how many copies does the user want**, so **y/x** is

[2021-07-17 23:34] wouterbrink opened #75 "Translations not working on first visit"
The translation keys are shown when first visiting the website instead of the actual translation text.
This issue can be reproduced by visiting the website in an incognito browser window.

[2021-07-18 01:28] bndw commented on #75
Hi @wouterbrink, I'm not sure I'm able to reproduce -- visiting the website in a Firefox incognito window renders as expected for me. Could you provide some more details? What browser are you using and what are you language settings? Could be that your browser language is something we don't yet support and the default isn't working?

![image](https://user-images.githubusercontent.com/4248167/12605

[2021-07-18 01:46] #75 closed

[2021-07-18 13:08] Teraskull opened #80 "Make the language names consistent"
Right now the dropdown languages are written in three different ways:
1. Locale name
2. Full name in that language
3. Language code
![image](https://user-images.githubusercontent.com/24798198/126068021-208a8112-aa36-4e08-a8b6-4731d76ed7dc.png)

My suggestion is to have the names show like in [Ventoy](https://github.com/ventoy/Ventoy):
![image](https://user-images.githubusercontent.com/24798198/126

[2021-07-18 19:34] Azertooth opened #82 "Print the qrcode without blurred outlines"
when I zoom the pdf the qrcode is blurry on the edges, can it be fixed?

[2021-07-19 18:44] IcaursWing opened #88 "It dosen't work in wechat scanning!"
Just as what title said.

[2021-07-19 20:29] olekstomek commented on #88
I don't use this messenger, but from what I found quickly [WeChat scans the qr code to add someone to my contacts](https://help.wechat.com/cgi-bin/micromsg-bin/oshelpcenter?opcode=2&id=160527qrfrfb160527rf3e6v&lang=en&plat=2&Channel=helpcenter), maybe the qr code is still being used for something else. So the problem is with this messenger, I guess it expects a different data format. This qr code

[2021-07-19 20:36] noahhefner commented on #88
I also do not use WeChat, but from [this article](https://www.softwarert.com/scan-qr-code-wechat-iphone/), it seems like the WeChat scanner will only read QR codes that point to a URL. Best option is to use your phone's built in camera app to scan the code. **Any phone running Android 8/iOS 11 or higher has this feature built in by default** and is likely much faster than WeChat anyway.

[2021-07-19 20:44] olekstomek commented on #88
I think this issue can be closed.

[2021-07-19 23:43] olekstomek opened #92 "Do we support Internet Explorer?"
I know that hardly anyone uses this browser and Microsoft itself recommends Edge. In any case, the tool does not work in this browser (there is a white page) and an error in the console:

[code]
[Undefined identifier](https://docs.microsoft.com/pl-pl/archive/scripting-docs/javascript/misc/undefined-identifier?f1url=%3FappId%3DDev12IDEF1%26l%3DPL-PL%26k%3Dk(VS.WebClient.Help.SCRIPT5009))

On July 1

[2021-07-20 00:04] olekstomek opened #93 "SonarLint - issues on master branch"
Maybe it's worth noting:
- Critical
https://github.com/bndw/wifi-card/blob/0eea7b56a67f40c1cb8520ecb41fae19966be8ad/src/components/Card.js#L6
[code]

- Minor:
https://github.com/bndw/wifi-card/blob/0eea7b56a67f40c1cb8520ecb41fae19966be8ad/src/components/Card.js#L21
[code]

[2021-07-20 00:12] olekstomek commented on #48
If new functionalities from last days will be merged, you can update the gif again.

[2021-07-20 01:18] Baoyuantop commented on #88
WeChat scan code does not have this function, just use the camera application

[2021-07-20 02:18] jiqinga opened #95 "Unable to connect to wifi network with hidden SSID"

[2021-07-20 02:20] #95 closed

[2021-07-20 02:20] jiqinga opened #96 "Hidden SSID wifi network can not be connected"

[2021-07-20 06:27] olekstomek commented on #39
Hidden SSID wifi network can not be connected: https://github.com/bndw/wifi-card/issues/96

[2021-07-20 13:33] olekstomek commented on #96
It's ready to test on branch olekstomek:feature/possible-connection-to-hidden-ssid-wifi-network https://github.com/bndw/wifi-card/pull/101

[2021-07-20 14:42] gousasin opened #104 "German translation"
Hi there :)

I did a German translation for the app. Feel free to implement it.

English <=> German

WiFi Login <=> WLAN Zugangsdaten:

Network name <=> Netzwerkname:

WiFi Network name <=> WLAN Netzwerkname

Password <=> Passwort:

Hide password field before printing <=> Passwortfeld vor dem Drucken ausblenden

Encryption: <=> Verschlüsselung:

None <=> Keine

Point your phone's camera at the QR

[2021-07-21 01:31] gousasin commented on #104
Did not see that PR. All right, I'll close this issue. Thanks!

[2021-07-21 01:32] Andanan commented on #104
I just added some of these changes along with some other improvements as suggestions to #98

[2021-07-21 01:32] #104 closed

[2021-07-21 01:52] Andanan commented on #92
Just mentioning: Microsoft [announced](https://docs.microsoft.com/en-us/lifecycle/announcements/internet-explorer-11-end-of-support) a partial end of support for IE.

I surely can't make the decision whether this browser should still be supported, but in my opinion it's not worth the effort.

We could at least consider displaying a default message like "Not supported by your browser". I'm not that

[2021-07-21 02:07] Andanan opened #106 "Translations for Encryption Option(s)"
Currently the texts/translations of the encryption options are fixed. But at least for `None` it would be nice to have a translation.
Maybe some locales treat the names of the algorithms specially but i think those would be ok as they are for most locales.

![image](https://user-images.githubusercontent.com/25869706/126419202-6095ec25-bb40-41d2-b953-0266d8e78b21.png)

[2021-07-21 07:12] olekstomek commented on #96
Resolved: https://github.com/bndw/wifi-card/pull/101#issuecomment-883835539

[2021-07-21 07:17] olekstomek commented on #95
Fixed: https://github.com/bndw/wifi-card/pull/101#issuecomment-883835539

[2021-07-21 07:40] olekstomek commented on #106
From a different point of view, I wonder if it is worth translating something that is not visible on the printed card. https://github.com/bndw/wifi-card/pull/74#issuecomment-882931174

[2021-07-21 09:45] olekstomek commented on #92
I created PR https://github.com/bndw/wifi-card/pull/107 with proposal.

[2021-07-21 17:17] IcaursWing commented on #88
Thank you very much for the explanation and quick response. But the truth of our using environment is that almost everyone use wechat scanner to scan the qr code everywhere.

[2021-07-21 17:17] #88 closed

[2021-07-21 20:28] olekstomek commented on #88
But you can scan any qr codes in this app? After scanning this code:
![test](https://user-images.githubusercontent.com/26818304/126555024-71bb2a16-b117-43bf-9ee4-05b3b8189a7d.png)
do you see the text:
`Test. It Works!`?

Look https://github.com/bndw/wifi-card/issues/39#issue-941814493 that it's a standard for creating a qr code that is understood by mobile systems and allows you to automatically c

[2021-07-22 18:30] IcaursWing commented on #88
There is no bug that I want to issue, just find a good way to connect to a WiFi network in your project, and the qr code work well! Although I find the native camera application of my phone which doesn't support scanning qr code. Sadly... If this WiFi-card can be scanned by WeChat, it can be widely used in people's life. Because people won't use the native camera application by the first time unti

[2021-07-22 22:28] olekstomek commented on #88
We have one standard of QR code (for connecting automatically to WiFI) that should be understood by devices and applications such as WeChat.  Having printed a QR code, it can only have one value for all applications, devices, etc. Note that this is one QR code that Android and iOS understand.  There is no way to create special QR code for WeChat.

The only thing I can advise you is contacting WeCh

[2021-07-23 00:59] Baoyuantop commented on #88
This is a detailed description：
https://developers.weixin.qq.com/doc/offiaccount/en/WiFi_via_WeChat/WiFi_Software_Service_Management_API.html

At present, this method cannot be simply implemented in this project.

[2021-07-24 16:55] bndw opened #111 "Remove settings from card"
With the growing number of controls and features, the card is beginning to feel pretty busy. One way to solve this would be to pull these sort of options into an "Advanced" section that's outside of the card border. This section should be collapsible and default to closed. Advanced controls could include:
- Rotate
- Font Size
- Hidden SSID
- Hide password

EDIT: The more accurate problem, I think,

[2021-07-24 17:15] bndw commented on #92
Since this is a personal project, no, we do not support Internet Explorer 😆

[2021-07-24 17:21] bndw commented on #93
1. Not interested in refactoring `export const Card`. In general that's lint rule is fine advice, but in this case I don't agree.
2. `for-of` seems like a fine change. I wrote the traditional loop because I don't write a ton of JS and didn't realize `for-of` was an option. If you want to make the change I'd be happy to accept it. I think it'd be:
[code]

[2021-07-24 17:25] bndw commented on #106
I think it's either (1) rely on the browser for translation or (2) translate everything. Since we're already 9 languages in to option (2) I think we should translate `None`.

Related: We'll need to come up with a good strategy for updating the various languages when there is a text change or addition.

[2021-07-24 22:50] olekstomek commented on #92
I think it was an expected decision. ;)

[2021-07-24 22:59] olekstomek commented on #106
`(1) rely on the browser for translation `
https://github.com/bndw/wifi-card/pull/74#issuecomment-884348733

`Related: We'll need to come up with a good strategy for updating the various languages when there is a text change or addition.`
Yes, this topic was discussed in this PR https://github.com/bndw/wifi-card/pull/74 (from this comment https://github.com/bndw/wifi-card/pull/74#issuecomment-8829

[2021-07-24 23:42] olekstomek commented on #111
I think that's a very good idea! Too many options may scare the user. In fact, in most cases it is enough to use the basic options.

[2021-07-26 16:21] bndw commented on #106
OK, here's what we'll do:

Since this issue is just asking to additionally translate the word `None`, that's the solution. We can use Google Translate or similar to do the backfill, open the PR, and tag the original translators to verify. If they don't respond we'll merge and triage any issues that may arise later.

[2021-07-26 22:55] bndw opened #117 "Docs: Language contribution guide"
It would be helpful to document the process of contributing a translation. Off the top of my head, the steps are roughly:
1. Add a translation to `./src/i18n.js`
2. Add the language option to `./src/app.js`. Use the format e.g. `French (Français)`
3. Run `make fmt.write` to format your changes with Prettier

[2021-07-27 02:44] YoussefMahmod commented on #117
Hi @A-Tokyo  I think you should consider **RTL Format**.

[2021-07-27 08:07] olekstomek commented on #93
Solution was merged so I'm closing this issue.

[2021-07-27 08:07] #93 closed

[2021-07-27 08:14] olekstomek commented on #92
Solution https://github.com/bndw/wifi-card/pull/107 was merged so I'm closing this issue.

[2021-07-27 08:14] #92 closed

[2021-07-27 15:00] A-Tokyo commented on #117
Thanks for the awesome work!

There's another step regarding languages that require `RTL` direction (step 3):

1. Add a translation to ./src/i18n.js
1. Add the language option to ./src/app.js. Use the format e.g. French (Français)
1. If the languages added require RTL direction, add the language keys to `RTL_LANGUAGES` constant in `./src/app.js`.
1. Run make fmt.write to format your changes with P

[2021-07-27 15:14] olekstomek commented on #111
The best time to do this is when we will have on master [Font Size](https://github.com/bndw/wifi-card/pull/89) and and [Hidden SSID](https://github.com/bndw/wifi-card/pull/101)?

[2021-07-27 15:14] A-Tokyo commented on #80
@Teraskull Awesome initiative!

I'd advice for `latinName - nativeName` instead of `latinName - (nativeName)` simply to account for `RTL` languages. Using the newly proposed version would make the native RTL languages look native in the dropdown due to right alignment. The extra brackets mess up that alignment.

Excited for this! ( :

[2021-07-27 17:25] Andanan commented on #106
Sounds good to me

[2021-07-27 18:30] olekstomek commented on #106
Yeah, it seems that it will be the most optimal way

[2021-07-27 18:33] Andanan commented on #117
How about:

5. Add your name to the translation-table in `README.md`

[2021-07-27 21:49] olekstomek commented on #57
Look that you can even preview the password from the QR Code by the [application](https://play.google.com/store/apps/details?id=com.techtool.wifiqrcodepasswordscanner).
This is normal.

[2021-07-28 00:53] Teraskull commented on #117
What about adding a separate language ini or json file instead of putting everything in App.js? Easier to contribute to.

[2021-07-28 01:21] Baoyuantop commented on #117
With more and more languages, it’s time for us to consider separating different languages.

[2021-07-28 01:45] A-Tokyo commented on #117
This PR https://github.com/bndw/wifi-card/pull/128 automates the 3rd step (running prettier), so we don't need it anymore.

[2021-07-28 23:27] AhmedElTabarani opened #132 "'None' Encryption disable Checkbox of 'Hide password field before printing'"
I found this bug
![6](https://user-images.githubusercontent.com/69223584/127408857-78fd1fae-e368-4bf7-b281-d5b304334efb.gif)

[2021-07-29 02:34] Baoyuantop opened #135 "Support TypeScript for the application"
Do we have any plan to support TypeScript for the entire application?

As we all know, this makes the entire project easier to maintain, especially the current project code is increasing.

[2021-07-29 08:08] olekstomek commented on #135
With this change, it would be nice to rewrite/convert the current code to TypeScript. Or will we have a mix of TypeScript and JavaScript?

[2021-07-29 08:19] Baoyuantop commented on #135
Complete rewrite step by step

[2021-07-29 16:06] bndw commented on #135
There are no plans to rewrite this in TypeScript at this time. Perhaps once things slow down again and the codebase matures a bit more, we can revisit.

[2021-07-29 16:06] #135 closed

[2021-07-29 16:35] #82 closed

[2021-07-29 18:07] A-Tokyo commented on #117
We can now remove the prettier step 🚀 It was automated in this PR https://github.com/bndw/wifi-card/pull/128

[2021-07-29 18:33] bndw commented on #111
@olekstomek I've been planning to sit down and play around with the design of an advanced controls section and ideally include the above features in the initial rollout, rather than having a period of time where the card has many extra features. I'll make some time in the next few days to do a quick exploration and push it up in a branch. From there we could retarget #89 and #101 against that bran

[2021-07-29 20:39] bndw commented on #111
Here's a quick, rough exploration of the idea -- what do you think? What if we put all the options into this section, including encryption mode?

![advanced](https://user-images.githubusercontent.com/4248167/127562538-87ea9ec1-c740-4eb9-9cde-b9f1986953ef.gif)

[2021-07-29 22:15] olekstomek commented on #111
For me, it fully meets the expectations 💯%. It is much clearer. 👍 The user sees the simple interface straight away and won't be scared off by the many options. The default settings will be correct for the vast majority of users (WPA is the most popular). Therefore, I would also transfer encryption mode to `Advanced`. Let's be honest, if someone is a layman will not know what type of encryption he

[2021-07-30 15:10] #117 closed

[2021-07-30 15:15] #132 closed

[2021-07-30 17:18] PushpenderSaini0 opened #152 "New user may see wrong language !"
The `i18next-browser-languagedetector` plugin detects my browser language as `en-US`
but that's not present in selector so it shows me the first option `Arabic` but the language is set to `en`
This can confuse a new user !

To reproduce this bug i clean my browser storage and all cache
so that i am like a new user on the site.

# Preview

![ps](https://user-images.githubusercontent.com/54404738/12

[2021-07-30 17:43] bndw commented on #152
Whoops, this was probably a regression from https://github.com/bndw/wifi-card/pull/149. I'll get a patch in.

[2021-07-30 18:04] #152 closed

[2021-07-31 13:17] Mejans commented on #106
In both Catalan and Occitan this would be «Cap» if this helps ;)

[2021-07-31 17:22] #106 closed

[2021-07-31 17:23] #80 closed

[2021-07-31 17:28] bndw commented on #111
Most recent iteration:

<img width="959" alt="image" src="https://user-images.githubusercontent.com/4248167/127746723-21d15015-4d9f-43c7-8774-437241280e9f.png">

[2021-07-31 19:10] bndw opened #158 "A few translation corrections"
A few translation corrections:
Russian: "Нет"
Ukrainian: "Немає"
Polish: "Brak"

_Originally posted by @Teraskull in https://github.com/bndw/wifi-card/issues/157#issuecomment-890391952_

[2021-08-01 03:15] RhnSharma commented on #158
I would like to take this one.

[2021-08-02 11:36] tplive opened #161 "Rotate doesn't seem to work"
I click rotate on the card, it returns a blank screen. Tested in Firefox and Chrome.

Returns an error message in the JS console:

[code]

In development, another error message is returned:
[code]

[2021-08-02 15:22] bndw commented on #161
This is affecting Firefox on mobile, too, where a blank page is rendered by default :(

[2021-08-02 15:27] bndw commented on #161
@tplive Thanks for the report, this was a regression and it's been resolved (thanks @olekstomek for the patch!)

[2021-08-02 15:27] #161 closed

[2021-08-02 15:38] #158 closed

[2021-08-02 17:09] bndw commented on #111
https://github.com/bndw/wifi-card/pull/150#issuecomment-890405269

[2021-08-02 17:17] bndw commented on #111
Update: I'm still exploring the design and layout. After relocating all of the settings, including the language select below the card, I turned my attention to the styling. Rather than hand-rolling a design system I opted to pull in [evergreen](https://evergreen.segment.com/components). I've largely finished the refactor and am working through various cleanup/sizing issues.

I'd appreciate any fee

[2021-08-02 20:32] olekstomek commented on #111
I like. It looks nice and more modern. And it is more convenient for the user to show the information on the wifi card instead of using the standard `alert()` function. The `alert()` function requires an additional click from the user and this is unnecessary.
In my opinion, the changes are going in a very good direction.

[2021-08-05 19:12] #111 closed

[2021-08-05 21:30] bndw opened #169 "Improve translation contribution experience"
_Originally posted by @Teraskull in https://github.com/bndw/wifi-card/issues/117#issuecomment-887928857_

[2021-08-06 14:52] #169 closed

[2021-08-06 15:03] bndw opened #171 "Back-port changes across translations"
Add/Update the following translation keys
[code]
If the below language authors would kindly translate the above 4 keys, either as a comment or pull request
to this branch, it would be greatly appreciated ❤️

- [x] Chinese, https://github.com/bndw/wifi-card/pull/190
- [x] Spanish, https://github.com/bndw/wifi-card/pull/193
- [x] Portuguese, https://github.com/bndw/wifi-card/pull/211
- [x] Portugues

[2021-08-06 15:35] bndw opened #172 "Error in Incognito/Private browser"
When viewing in an incognito or private browser a blank page is returned, with the following console error. This does not occur in a non-private browser window.
[code]

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/4248167/128535340-f3b99ff8-4d53-4f32-8786-f1c81b1011f2.png">

[2021-08-06 18:52] dv336699 opened #173 "TypeError: Cannot read property 'rtl' of undefined"
Looks like one of these PRs broke the website?

https://github.com/bndw/wifi-card/pulls?q=rtl

Using Brave Version 1.27.111 Chromium: 92.0.4515.131 (Official Build) (x86_64)

![image](https://user-images.githubusercontent.com/930792/128558291-0d3a747d-5404-4e20-ad8e-49e4a8d7787a.png)

[2021-08-06 19:13] bndw commented on #173
Dupe of https://github.com/bndw/wifi-card/issues/172

[2021-08-06 19:13] #173 closed

[2021-08-06 19:17] bndw commented on #172
Temporarily reverted https://wificard.io to https://github.com/bndw/wifi-card/commit/3a63d9fb3fcc2750be155fa67008887bf38687ac

[2021-08-06 20:44] #172 closed

[2021-08-06 20:49] bndw commented on #173
@dv336699 This has been fixed. If you're still having a problem, feel free to reopen.

[2021-08-06 23:40] olekstomek commented on #171
To translate:
`'wifi.name.hiddenSSID': 'Hidden SSID',`
It's using in this PR: https://github.com/bndw/wifi-card/pull/101

[2021-08-07 21:38] olekstomek opened #179 "White page on mobile view in mobile Chrome"
If ❌ it means that I see white page.

|  	|  Not incognito	| Incognito 	|
|:---:	|:---:	|:---:	|
|  	https://wificard.io/| ❌| ❌|
|  	https://dev.wificard.io/|🆗|❌|

I have no logs because it is a mobile version of the browser, so I can't see it. I checked in the browser on the PC, I selected the option that I use smartphone, but in this case the problem does not occur.
When testing in mobile Chrome

[2021-08-07 21:56] olekstomek opened #180 "Incorrect language in the language drop-down list if a language other than English"
The website detects the Polish language and presents the version of the website in this language. However, in the drop-down list, the currently indicated language is English instead of Polish in this case.

Web browser: Chrome 92.0.4515.131
Android 10
dev.wificard.io (because I [can't open on mobile Chrome wificard.io](https://github.com/bndw/wifi-card/issues/179)):
![1628372454589](https://user-i

[2021-08-08 16:31] bndw commented on #179
Both https://wificard.io and https://dev.wificard.io are running the same version, https://github.com/bndw/wifi-card/commit/df6d62c397992aef26c3abb26ad667bcbc7184ad, so it's strange you would see different behavior. Perhaps you have previously visited wificard.io but not dev.wificard.io?

This could be caching, where the index.html page is being cached somewhere (cloud, device) with the old finger

[2021-08-08 16:32] bndw commented on #180
This is possibly related to this addition: https://github.com/bndw/wifi-card/blame/master/src/components/Settings.js#L31

[2021-08-08 17:12] bndw commented on #180
@olekstomek I've deployed a potential fix to https://dev.wificard.io. Would you mind confirming if that resolves the issue?

[2021-08-08 17:48] Teraskull commented on #171
Translations for both #101 and #166.

`Ukrainian`:
[code]

`Russian`:
[code]

[2021-08-08 19:13] olekstomek commented on #180
@bndw confirmed, it works perfect.

[2021-08-08 19:48] olekstomek commented on #179
I checked on another device and it's fine. My mistake. The problem is my device.

[2021-08-08 19:48] #179 closed

[2021-08-08 19:52] olekstomek commented on #96
Merged https://github.com/bndw/wifi-card/commit/ade8bc7d68922543ab74ee2d41920de139fd0bd3, so it can be closed.

[2021-08-09 00:30] #96 closed

[2021-08-09 03:58] #180 closed

[2021-08-09 03:59] Baoyuantop commented on #171
`Chinese `

[code]

[2021-08-09 04:06] bndw commented on #171
Thanks @Baoyuantop! -- could you also help with this one?
[code]

[2021-08-11 10:07] sina-yeganeh opened #185 "Block Iran IP?!"

[2021-08-11 15:51] bndw commented on #185
Are you asking if https://wificard.io is explicitly blocking Iranian IP addresses? No, I'm not blocking Iran or any geographical regions from accessing the website.

However, the site is running on AWS and it [looks like Amazon has a history with Iran](https://html.duckduckgo.com/html?q=amazon%20aws%20blocking%20iran). Sorry for any inconvenience. The README has instructions for running the websit

[2021-08-11 15:51] #185 closed

[2021-08-18 19:01] oscfdezdz commented on #171
`Spanish`

[code]

[2021-08-18 19:35] munkacsimark commented on #171
`Hungarian`

[code]

[2021-08-19 03:12] nyancodeid commented on #171
`Indonesia`

[code]

[2021-08-20 08:20] DEmanderbag commented on #171
In case a pull request is needed I will be able to do that later today.

`Serbian Latin update`

'wifi.password.hide': 'Sakri šifru',
'wifi.name.hiddenSSID': 'Sakriven SSID ',
'wifi.alert.password.length.5':
    'Šifra mora imati minimum 5 karaktera ili promeni enkripciju na "Nema"',
'wifi.alert.password.length.8':
    'Šifra mora imati minimum 8 karaktera ili promeni enkripciju na "Nema"',

`Serb

[2021-08-21 06:16] ManZosh opened #199 "Issue With Device Compatibility?"
Howdy, I've tried to create one of these and print them out on sheets of stickers, however the QR scan doesn't appear to work on Android devices! Yet, iPhone devices can scan these and connect right up without any hindrance.

My settings on https://wificard.io/ were simply inputting my SSID, password, WPA2 security, and selecting that this would indeed be a hidden network.

I attempted QR scans wi

[2021-08-21 07:20] olekstomek commented on #199
I implemented this functionality in https://github.com/bndw/wifi-card/pull/101 (in this PR you have links to other resources - check them for more details).
The connection for Android and iOS is no different - it is standardized and the same code is understood by these systems.
Could you please check if the problem occurs on non-Pixel Android devices?

[2021-08-23 18:48] wouterbrink commented on #171
`Dutch`

    'wifi.password.hide': 'Verberg wachtwoord',
    'wifi.name.hiddenSSID': 'Verberg SSID,
    'wifi.alert.password.length.5':
        'Wachtwoord moet ten minste 5 tekens bevatten, of verander de encryptie naar "Geen"',
    'wifi.alert.password.length.8':
        Wachtwoord moet ten minste 8 tekens bevatten, of verander de encryptie naar "Geen"',

[2021-08-25 02:18] A-Tokyo opened #201 "🐛 html direction partially broken on initial load for RTL languages"
### Description:
– After the recent changes to `htmlDirection`, the initial load of the page no longer respects language direction
**Screenshot of broken code:**
- <img width="1230" alt="direction_broken-min" src="https://user-images.githubusercontent.com/12428415/130715261-01f68c3c-5be9-4781-b024-b7dfa257450c.png">
**Screenshot of working code:** (happens if I change language to another language

[2021-08-25 02:28] A-Tokyo opened #203 "🐛 Logo + icons spacings are broken for rtl languages"
### Description:
– Since the wifi logo has a hardcoded paddingLeft, it's not behaving nicely with RTL languages.

### Proposed solution:
– Instead of setting `paddingLeft` check for html.direction and set `paddingRight` if `rtl` or `paddingLeft` otherwise.

PR with fixes: https://github.com/bndw/wifi-card/pull/202

[2021-08-26 15:21] bndw opened #204 "Device compatibility - What devices are you successfully using with WiFiCard?"
I'd like to start a "Known working devices" table, as it's been [reported](https://github.com/bndw/wifi-card/issues/199) that some versions of Android are not working with WiFiCard. Please drop a comment here with hardware and OS versions that you've used with WiFiCard, either successfully or unsuccessfully, and I'll update the below table over time.

| Device | OS | Works with WiFiCard |
| ------

[2021-08-28 16:12] #201 closed

[2021-08-28 16:13] #203 closed

[2021-08-28 17:16] bndw commented on #171
@pedrorenan would you mind helping with the translation update for Portuguese?
@ismaelpereira would you mind helping with the translation update for Portuguese Brazil?
@rizaergun would you mind helping with the translation update for Turkish?
@PushpenderSaini0 would you mind helping with the translation update for Hindi?
@devofthings would you mind helping with the translation update for German?
@

[2021-08-28 17:27] PushpenderSaini0 commented on #171
`HINDI`
[code]

[2021-08-30 08:01] kardoka opened #210 "Code style issues found during Docker image build"
Greetings, I have just cloned this repo and I've been trying to build the Docker image. Running `docker build .` I get the following output:
[code]

Since the build stops at the prettier check, it cannot move on to installing the yarn packages.

[2021-08-30 16:34] pedrorenan commented on #171
Portuguese

[code]

[2021-08-30 17:00] ismaelpereira commented on #171
Brazilian Portuguese

`'wifi.password.hide': 'Esconder Senha',
'wifi.name.hiddenSSID': 'Esconder SSID,
'wifi.alert.password.length.5':
    'Sua senha deve ter pelo menos 5 caracteres, ou  altere a criptografia para "Nenhum"',
'wifi.alert.password.length.8':
    'Sua senha deve ter pelo menos 8 caracteres, ou  altere a criptografia para "Nenhum"',
`

[2021-08-31 14:51] bndw commented on #210
Hi @kardoka I've just tested your repro with a fresh clone and it works as expected for me:

[code]

Are you possibly overriding the `.prettierrc.json` config?

[2021-09-01 15:03] #210 closed

[2021-09-01 15:04] #204 closed, assigned to nobody

[2021-09-02 17:13] LionelKarlen commented on #171
German

[code]

[2021-09-08 15:28] mada199122 opened #214 "Empty page Safari Browser"
Run-in the docker container with Firefox browser the webpage is loaded correctly.
Using Safari browser the page loaded is empty.

I've attached a log.
Thanks

[_wifi-card_logs.txt](https://github.com/bndw/wifi-card/files/7130055/_wifi-card_logs.txt)

[2021-09-09 01:44] Baoyuantop commented on #214
Maybe you can check the console of Safari.

[2021-09-09 06:23] mada199122 commented on #214
![Screenshot 2021-09-09 at 08 22 31](https://user-images.githubusercontent.com/61902329/132633755-bf44a258-e367-4f2b-931b-e88229039e6e.jpg)

here the screenshot of the console...

[2021-09-11 16:17] bndw commented on #214
- I cannot repro on the hosted version of the site, https://wificard.io
- This does not affect Firefox or Chrome
- Safari also has a blank screen under yarn/npm with `make dev`

In leu of a fix, I'd recommend using Firefox or Chrome

[2021-09-11 20:35] olekstomek commented on #214
I read that Safari is new Internet Explorer. 😜

[2021-09-13 17:43] TheDancingCode commented on #214
I do experience the same problem on Firefox.

[2021-09-13 20:41] bndw commented on #214
@TheDancingCode Can you provide repro? I have no issue with Firefox, both under local Docker or yarn/npm.

local docker:
![image](https://user-images.githubusercontent.com/4248167/133153309-8df95258-564f-433f-ae99-906997186230.png)

local yarn/npm
![image](https://user-images.githubusercontent.com/4248167/133153398-ebc59182-1e53-433a-825e-490514f4fa64.png)

[2021-09-18 15:42] bndw commented on #214
@mada199122 what version of Safari are you using? How are you running wificard?

[2021-09-19 19:28] mada199122 commented on #214
Sorry for the delay

Safari 14.1.2 on Mac

I've just tried on iPad and iPhone and there it works
Both of the with the latest iOs Os

[2021-09-20 17:09] rpradosilva opened #216 "Auto Identify wifi"
Hi everyone,

The app is really cool!!!

I suggest improving the experience by automating wi-fi identification via browser permissions, but manual configuration is still an alternative.

Example: [https://www.speedtest.net/]( https://www.speedtest.net/)

What do you think?

[2021-09-20 20:47] olekstomek commented on #216
Is it possible? The informations on speedtest.net are non-local network information.

[2021-09-21 00:06] rpradosilva commented on #216
I researching npm libs, this is an initial idea:

Lib: `npm install wifiscanner`

Wi-fi list with some data:

[code]

What do you think?

[2021-09-21 07:59] Baoyuantop commented on #216
What is the effect of this?

[2021-09-21 11:52] olekstomek commented on #216
It's a convenient solution. The user can click the button to automatically complete the data about the network to which he is currently connected. This saves time and the possibility of mistakes. A very good idea for me.

[2021-09-22 21:37] bndw commented on #216
This is a cool idea, but I don't think it's a good fit for this project. I want to keep the experience simple and expected. If a website like wificard.io automatically displayed my home wifi network details, I'd be caught off guard.

Again, I think this is a really cool idea but not a good fit for this project.

[2021-09-22 21:37] #216 closed

[2021-09-22 21:38] olekstomek opened #218 "Adding project info to pages aggregating open source and issues projects"
For greater interest in contributing to the project, you can add the project to pages that gather information about open source projects and gather information about issues, e.g.:

- [codetriage.com](https://github.com/codetriage/codetriage)
- [up-for-grabs.net/](https://github.com/up-for-grabs/up-for-grabs.net)
- [goodfirstissues.com](https://github.com/darensin01/goodfirstissues)
- [goodfirstiss

[2021-09-24 06:26] mada199122 commented on #214
and I'm running it in docker. (docker compose)...

Now I've tried also with Safari 15 but with the same result.
on iPhone and iPad it works correctly.
On Safari for Mac it loads a white page.

(all the content blocker are disabled)

[2021-09-29 17:37] bndw commented on #218
To be honest, I'm not sure there is much contribution needed aside from the Safari-only bugfix (very minor) and backporting 3 language translations (nice to have). From a feature standpoint I'm happy with the current functionality.

[2021-09-29 17:37] #218 closed

[2021-09-29 17:38] bndw commented on #63
Circling back here, I'm happy with the current feature set. We haven't had this come up since the initial ask so I'm going to close out.

[2021-10-27 17:17] rphlo opened #222 "Add website deployment to CI"
I noticed the website https://wificard.io/ wasn't updated through the CI script, which make the fix I made still unavailable. It shouldn't be big deal to add...

[2021-10-27 18:32] #222 closed, assigned to nobody

[2021-12-27 20:45] #171 closed

[2021-12-28 00:55] Alexivia opened #226 "PT translation is wrong"
When translating to PT-PT, the "hidden SSID" is translated to "hide network name before printing", which is wrong. It should say something like "Rede oculta", which translates to "hidden network".

[2021-12-29 04:44] #226 closed

[2021-12-29 04:49] bndw commented on #226
Hi @Alexivia, thanks for the report -- I've made the change.

[2022-05-20 06:28] dk90103 opened #241 "Added Denmark - Danish translations"
{
    id: 'dk-DA',
    name: 'Danish - Dansk',
    translation: {
      title: 'WiFi Kort',
      'desc.use':
        'Udskriv et enkelt kort med dine Wifi login oplysninger. Sæt det på køleskapet, læg det i din pung eller lignende.',
      'desc.privacy':
        'Dine Wifi informationer bliver aldrig sendt til vores servere. Ingen sporing, analyse eller identifikation anvendes på dette website.

[2022-05-23 01:12] Baoyuantop commented on #241
Feel free to submit a Pull Request for this change.

[2022-08-12 19:26] #241 closed

[2022-09-12 05:26] AhmedElTabarani opened #250 "Missing spaces in radio and checkbox in RTL"
Screenshot:
![image](https://user-images.githubusercontent.com/69223584/189579593-9f0637ff-4f9d-4f0b-827b-561167acea6e.png)

[2022-09-12 17:59] bndw commented on #250
Hi @AhmedElTabarani, thanks for the report. I'm guessing the UI library we're using (evergreen-ui) is missing some padding-right for RTL support.

We could probably resolve this by adding a CSS rule that adds some padding-right to these inputs. Feel free to open a PR, otherwise I'll look into this when I get a chance.

[2022-09-14 04:58] #250 closed

[2022-11-17 09:00] CellixLong opened #256 "微信扫出来可以看到密码，是否可以将密码加密"

[2022-11-20 16:52] #256 closed